# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# Artifacts
artifacts/

# Environment
.env
*.env

# Jupyter
*.ipynb_checkpoints/

# Docker
*.log

# Weights
models/*.pth
models/*.pt
models/*.onnx
models/*.h5
